# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
evn/
.venv/
.ENV/
.env/
venv/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Local settings
instance/
